body {
  background-color: white;
}

.product-detail-section {
  position: relative;
  height: 90vh;
  margin: auto;
  /* margin-top: 10vh; */
  /* margin-left: 10vh; */
}

.main-game-card {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 1rem;
  justify-content: space-between;
  transform: translate(-50%, -50%);
  border: 5px solid #6e1d72;
  border-radius: 10px;
  gap: 2rem;
}

.img-description {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* width: 50%; */
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 10px;
  margin-top: 30px;
  width: 600px;
  height: 400px;
  /* background-color: #eee7e7; */
}

.game-img-main {
  margin: 30px;
}

.game-image {
  height: 400px;
  width: 290px;
}

.product-detail-title {
  color: #6e1d72;
  margin-left: 20px;
  /* align-self: center; */
  text-transform: uppercase;
}

.product-detail-categories {
  display: inline-block;
  margin: 3px;
}

.product-detail-headings {
  color: #2e2c2c;
  font-size: 19px;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
}

.product-detail--go-back {
  position: absolute;
  bottom: 20px;
  right: 20px;
  text-decoration: none;
}

.individual-item-buy-btn {
  background-color: #6e1d72;
  color: white;
  font-size: 13px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin: 20px 25px 10px 0px;
  cursor: pointer;
  width: 300px;
  font-weight: bold;
}

.individual-item-go-to-cart-btn {
  background-color: white;
  color: #6e1d72;
  font-size: 13px;
  font-weight: bold;
  padding: 10px;
  border: 2px solid #6e1d72;
  border-radius: 5px;
  margin: 20px 25px 10px 0px;
  cursor: pointer;
  width: 300px;
  font-weight: bolder;
}
.individual-item-go-to-cart-btn:hover {
  background-color: #6e1d72;
  color: white;
  font-size: 13px;
  padding: 10px;

  border-radius: 5px;
  margin: 20px 25px 10px 0px;
  cursor: pointer;
  width: 300px;
  font-weight: bold;
}

.individual-wishlist-icon {
  /* margin: -5px; */
  position: absolute;
  right: 30px;
  top: 25px;
  font-size: 30px;
  /* position: relative;
  top: -350px ; */
  color: #6e1d72;
}

.individual-wishlist-btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .product-detail-section {
    height: 90vh;
  }
  .main-game-card {
    display: flex;
    flex-direction: column;

    top: 65%;
    left: 50%;
    padding: 0rem;

    gap: 0rem;
  }
  .img-description {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* width: 50%; */
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 10px;
    margin-top: 30px;
    width: 500px;
    height: 400px;
  }

  .game-image {
    height: 300px;
    width: 240px;
  }

  .product-detail-title {
    align-self: center;
  }

  .product-detail-headings {
    margin-left: 50px;
    font-size: 19px;
  }

  .individual-item-buy-btn {
    font-size: 12px;
    padding: 9px;

    margin: 20px 25px 10px 50px;

    width: 200px;
  }

  .individual-item-go-to-cart-btn {
    font-size: 12px;
    font-weight: bold;
    padding: 9px;

    margin: 20px 25px 10px 50px;

    width: 200px;
    font-weight: bolder;
  }
  .individual-item-go-to-cart-btn:hover {
    font-size: 12px;
    padding: 9px;

    margin: 20px 25px 10px 50px;
    cursor: pointer;
    width: 200px;
  }
}

@media screen and (max-width: 480px) {
  .img-description {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* width: 50%; */
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 10px;
    /* margin-top: 30px; */
    width: 370px;
    height: 500px;
  }

  .game-image {
    height: 200px;
    width: 180px;
  }

  .product-detail-title {
    align-self: center;
    font-size: 26px;
  }

  .product-detail-headings {
    margin-left: 30px;
    font-size: 17px;
  }
}
