body{
    background-color: white;
}

.main-game-card{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
   /* align-items: center; */
   /* flex-wrap: wrap; */
   margin: 20px 20px 20px 20px;
    
}

.img-description{
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   /* width: 50%; */
   flex-wrap: wrap;
align-items: flex-start;
border: 1px solid;
margin-top: 30px;
width: 600px;
height: 350px;
/* background-color: #eee7e7; */
}

.game-img-main{
    margin: 30px;
}


.game-image{
    height: 350px;
    width: 320px;
}