body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.profile-outer-container {
  width: 100%;
  display: flex;
  margin-top: 5rem;

  flex-wrap: wrap;

  height: fit-content;

  justify-content: center;
}

.profile-container {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);

  height: 330px;
  width: 700px;
  margin: 2px;
}

.profile-nav {
  display: flex;
  justify-content: center;
  gap: 70px;

  background-color: #6e1d72;
}

.profile-nav-item {
  padding: 1rem;
  font-size: 1.25rem;
  align-items: center;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-family: sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}

.nav-link-active {
  background-color: #ce90d1;
  color: #6e1d72;
}

.profile-detail-page {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  gap: 1rem;
  padding: 1.5rem;
  align-items: center;
}

.profile-detail-page-item {
  display: flex;
  justify-content: flex-start;

  gap: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.profile-detail-page-footer {
  padding: 12px;
  background-color: #6e1d72;
  color: white;
  font-size: 18px;
  font-weight: 700;
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
  margin: 30px 0px 0px 500px;
  cursor: pointer;
}

.profile-address-page-header {
  display: flex;

  justify-content: space-between;
  margin: 30px 40px 10px 80px;
}

.active-address-height {
  height: 500px;
  width: 900px;
}

.profile-address-page .profileAddress-form {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  inset: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
}

.profile-address-page-list-container {
  max-height: 400px;
  overflow-y: auto;
}

.profile-address-page .profile-address-page-list {
  list-style: none;
}

.profile-address-page .profile-address-page-list li {
  padding-top: 1rem;
  margin-left: 40px;
  display: flex;
  flex-direction: column;

  align-items: flex-start;
  row-gap: 0.5rem;
  width: 60%;
}

.profile-address-page .profile-address-page-list li div {
  display: flex;
  column-gap: 1rem;
  padding: 0.5rem 0;
}

.profile-address-page .profile-address-page-list li div .profile-edit-btn {
  background: #6e1d72;
  border: none;
  padding: 0.5rem 1rem;
  color: white;
  border-radius: 5px;
}

.profile-address-page .profile-address-page-list li div .profile-delete-btn {
  border: 1.5px solid white;
  padding: 0.5rem 1rem;
  color: #6e1d72;
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  .profile-outer-container {
    width: 70%;
    margin-left: 6rem;
  }

  .profile-address-page-header {
    margin: 30px 40px 10px 40px;
  }
  .profile-address-page .profile-address-page-list li {
    padding-top: 0.6rem;
    margin-left: 30px;
    row-gap: 0.5rem;
    width: 50%;
  }
}
@media screen and (max-width: 480px) {
  .profile-outer-container {
    width: 20%;

    margin-left: 12rem;
  }

  .profile-container {
    height: 480px;
    width: 400px;
    margin: 2px;
  }

  .profile-nav {
    gap: 15px;
  }

  .profile-nav-item {
    padding: 0.8rem;
    font-size: 0.9rem;
    letter-spacing: 0.2rem;
  }

  .profile-detail-page-item {
    display: flex;
    justify-content: flex-start;

    gap: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
  }

  .profile-detail-page-footer {
    padding: 10px;
    font-size: 14px;
    margin: 20px 0px 0px 220px;
  }

  .profile-address-page-header {
    margin: 20px 20px 10px 10px;
    font-size: 13px;
  }

  .profile-address-page-list-container {
    max-height: 400px;
  }

  .profile-address-page .profile-address-page-list li {
    padding-top: 0.6rem;
    margin-left: 20px;
    row-gap: 0.4rem;
    width: 70%;
  }
}
