body{
    background-color: #eee7e7;
}

.main-product-page{
    display: flex;
    /* justify-content: ; */
    /* height: 100%; */
    /* background-color: brown; */
    /* border: 1px solid; */
    
}



.all-filters-aside{
    width: 90%;
    height: 87vh;
    overflow: scroll;
    overflow-x: hidden;
    /* background-color: #777373; */
display: flex;
flex-direction: column;
align-items: flex-start;
padding-left: 32px;


}

.filter-Heading{
   
    display: flex;
    /* flex-direction: column; */
 
}

.filter-title{
    font-weight: 600;
box-sizing: border-box;

 margin:30px 40px 20px 10px ;
}


.reset-title{
    font-weight: 600;
    box-sizing: border-box;
     margin:30px 0px 20px 60px ;
     padding:1.5px;
}



.list-style-none{
    list-style: none;
    text-decoration: none;
    /* margin-top: 20px 3px 5px 2px; */
  
   }

   .filter-lists{
    margin: 12px;
   }

  .individual-filter-lists{
    padding: 5px;
    display: flex;
    /* flex-direction: column; */
    align-items: flex-start;
  }

  .filter-label{
    margin-left: 8px;
  }

  .filter-lists h4{
    display: flex;
    /* flex-direction: column; */
    align-items: flex-start;
  }

  .range-title{
    margin-bottom: 10px;
  }



  /* changelater */

  .map-style{
    margin: 0px  0px 10px 40px;
  }

  .product-show{
    display: flex;
    height: 87vh;
    overflow: scroll;
    overflow-x: hidden;
    width: 95%;
    /* float: ; */
    margin: auto;
    flex-wrap: wrap;
    /* margin: 10px; */
    padding-top: 20px;
  }

  .individual-product-item{
    margin: 10px;
    width: 220px;
    
  }

  .item-image{
    height: 270px;
    width: 220px;
  }

  .item-title{
    padding: 5px;
    overflow-wrap: break-word;
  }

  .product-title{
    margin-right: 150px;
    padding: 0px 0px 20px 0px;
  }