.App {
  text-align: center;
 
 
}

*{
  margin: 0;
  padding: 0;
  /* background-color: #eee7e7 ; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #22201c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

.brand-title {
  font-size: 3rem;
  color: #d9d9d9;
}

.brand-title span {
  color: #ffde59;
}

.brand-description {
  font-size: 1.4rem;
}

.links {
  display: flex;
}

.links a {
  color: #d9d9d9;
  font-size: 1.2rem;
  margin: 1rem;
}



.banner-img{

  width: 100%;
  height: 450px;
  margin-top: 67px;
  object-fit: cover;
  position: relative;
}

.browse-btn{
  position: absolute;
  top: 370px;
  left:270px;
  padding: 16px 17.14px 16px 16px;
  /* align-self: top; */
  color: rgb(33, 33, 33);
  background-color:  linear-gradient(180deg, rgb(242, 242, 242), rgb(237, 237, 237));
  font-size: 16px;
  font-weight: bold;
  line-height: 1.125;
  font-family: Open Sans;
  letter-spacing: 0%;
  border: none;
  border-radius: 5px;
}

.game-genres{
  font-size: 24px;
  font-weight: bold;
  line-height: 1.125;
  color: rgb(33, 33, 33);
  font-family: Open Sans;
  margin: 30px;
  display: flex;
 align-items: flex-start;

}

.genre-category{
  /* border: 1px solid; */
  display: flex;
}

.first-category{
  border: 1px solid silver;
  padding: 20px;
  margin: 10px;
height: 80px;
width: 80px;
}

.second-category{
  border: 1px solid silver;
  padding: 20px;
  margin: 10px;
  height: 80px;
width: 80px;
}

.third-category{
  border: 1px solid silver;
  padding: 20px;
  margin: 10px;
  height: 80px;
width: 80px;
}

.fourth-category{
  border: 1px solid silver;
  padding: 20px;
  margin: 10px;
  height: 80px;
width: 80px;
}

.total-category-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center ; */
}