.banner-img {
  width: 100%;
  height: 450px;
  /* margin-top: 67px; 
     later add this when u do nav positon fixed */
  object-fit: cover;
  position: relative;
  z-index: -1;
}

.banner-btn {
  position: absolute;
  top: 370px;
  left: 270px;
  padding: 16px 17.14px 16px 16px;
  /* align-self: top; */

  background-color: linear-gradient(
    180deg,
    rgb(242, 242, 242),
    rgb(237, 237, 237)
  );
  font-size: 16px;
  font-weight: bold;
  line-height: 1.125;
  font-family: Open Sans;
  letter-spacing: 0%;
  border: none;
  border-radius: 5px;
}

.banner-btn-link {
  text-decoration: none;
  list-style: none;
  color: rgb(33, 33, 33);
}

/* 4 categories  css listed below */

.homepage-categories {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.genres-title {
  font-size: 34px;
  font-weight: bold;
  line-height: 1.125;
  color: rgb(33, 33, 33);
  /* color: black; */
  font-family: Open Sans;
  /* margin: 30px; */
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  /* margin-left: 45px; */
  margin: 25px 0px 20px 30px;
}

.section-title {
  font-size: 34px;
  font-weight: bold;
  line-height: 1.125;
  color: rgb(33, 33, 33);
  /* color: black; */
  font-family: Open Sans;
  margin: 50px 0px 20px 160px;
  display: flex;
  /* align-items: flex-start; */
  box-sizing: border-box;
}

.genres-section {
  /* border: 1px solid; */
  display: flex;
}

.all-categories-image {
  border: 1px solid silver;
  /* padding: 20px; */

  margin: 30px;
  height: 300px;
  width: 200px;
  object-fit: cover;
  cursor: pointer;
  box-sizing: border-box;

  /* position: relative;
      z-index: -1; */
  /* if this works the hover dont work */
}
.all-categories-image:hover {
  filter: alpha(opacity=80);
  opacity: 0.8;
  border: 0.5px solid seashell;
}

.single-genre-category {
  position: relative;
}
.single-genre-btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.category-names {
  position: absolute;
  top: 238px;
  /* top: 310px; */
  left: 80px;

  font-size: 30px;
  font-weight: bolder;
  color: white;
  /* color: black; */
  cursor: pointer;
  line-height: 2.8;
}

.sections-image-title {
  padding: 20px;
  background-color: #ededed;
  /* color: white; */
  /* font-size: large; */
  font-size: 18px;
  font-weight: 400;
  /* display: flex; */
  flex-grow: 1;
  height: 2vh;
}

/* height: 87vh;
  overflow: scroll;
  overflow-x: hidden;
  width: 80vw; */

/* 
  .all-categories :hover{
    border: 5px solid #6E1D72;
  } */

/* all products section */

.all-products-section {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  scrollbar-width: auto;
  scrollbar-color: gray;
  /* border: 1px solid red; */
  /* object-fit: cover; */

  margin-top: 20px;

  margin: auto;
  width: 80%;

  /* white-space: pre-line; */
}

.sections-individual-product {
  margin: 10px 20px 20px 10px;

  text-decoration: none;
  color: black;
  /* lets-check */

  position: relative;
  width: 230px;
  /* height: 298.98px; */
  height: 100%;

  background: #ededed;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
}

/* ---------------------------------- */

/* .sections-individual-product .view-link-container {
    display: none;
  }

  .sections-individual-product:hover {
      
    filter: alpha(opacity=80);
      opacity: 0.9;
      /* overflow-wrap: normal; */
/* border: 0.5px solid seashell;

   
  
  }

  .view-link-container {
    */
/* padding: 20px;
    /* opacity: 1.8; */

/* }
  
  .sections-individual-product:hover .view-link-container {
    display: block;
 
    position: absolute;
   
 
    top: 110px;
    margin-left: 45px;
 
 
  }
  .view-nav-link{
    font-size: 50px;
    font-weight: bolder;
   color: purple;
  text-decoration: none; */

/* }  */

/* ----------------------- */

.sections-all-images {
  position: relative;
  width: 230px;
  /* height: 116.98px; */
  height: 250.98px;
  background: #000000;

  /* lets check */
  /* position: relative;
      width: 256px;
      height: 116.98px;
      
      background: #000000; */
}

.sections-image-individual {
  position: absolute;
  /* width: 256px;
  height: 116.98px; */

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  right: 0px;
  bottom: 0px;

  /* object-fit: cover;   */
  /* background: url(.png); */
}
